
    *{

        margin: 0%;

    }

    .container{

        display: flex;

        flex-direction: column;

        height: 100vh;

    }

   

    .box{

        flex: 4;

        background-color: rgb(47, 226, 128);

        display: flex;

    }

    .box1{

        flex: 2;

        background-color: rgb(20, 241, 252);

    }

    .build1{

        margin-top: auto;

        background-color: white;

        height: 150px;

        width: 200px;

        display: grid;

        grid-template-columns: auto auto auto;

        grid-gap: 30px;

        padding: 20px;

       

       

    }

    .build2{

        margin-top: auto;

        margin-left: 90px;

        background-color: white;

        height: 270px;

        width: 200px;

        display: grid;

        grid-template-columns: auto auto auto;

        grid-gap: 20px;

        padding: 20px;

       

    }

    .build1div1{

        background-color: rgb(16, 237, 163);

        border-radius: 20%;

    }

   

    .build4{

        margin-left: auto;

    }

    .span{

        grid-column: span 3;

    }


